.container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-columns: 60px;
    grid-auto-rows: 110px;
    gap: 15px;
  }
  
  .item {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }
  